# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
#
# Last change: v8.2.24
#
#
#  Deletes this job from the rrServer queue
#
#  AuthStr is required in case anonymous does not have the right to delete jobs.
#  Or if you have enabled "Authorization is required for all connections"
#  AuthStr will not work via a router/remote connection
#
#
################################## Identify script ##################################
Name= Ayon inject env var

PrePostType=Pre

# Optional flags: The following lines are disabled and set to the default value
# AllowedForExecuteOnceJobs= false
# AllowedForSingleOutput = true
PrePostChecked= true
# ExecutePerChannel = false
# PrePostShowParamA= false
# PrePostShowParamB= false
# PrePostParamA= 100
# PrePostParamB= 100


##################################  [Windows] [Linux] [OSX]  ##################################

CommandLine=
	<ResetExitCode>


CommandLine=  <OsxApp "<rrBin64>rrPythonconsole" > "<RR_DIR>render_apps/_prepost_scripts/ayon_inject_envvar.py"  -jid <JID>



CommandLine=
	<CheckExitCode> <FN>
