[submodule "repos/avalon-core"]
	path = repos/avalon-core
	url = git@github.com:pypeclub/avalon-core.git
	branch = v2.11.8-pype
[submodule "repos/pyblish-base"]
	path = repos/pyblish-base
	url = git@github.com:pyblish/pyblish-base.git
[submodule "repos/avalon-unreal-integration"]
	path = repos/avalon-unreal-integration
	url = git@github.com:pypeclub/avalon-unreal-integration.git
[submodule "repos/maya-look-assigner"]
	path = repos/maya-look-assigner
	url = git@github.com:pypeclub/maya-look-assigner.git
[submodule "repos/pype-config"]
	path = repos/pype-config
	url = git@github.com:pypeclub/pype-config.git
