# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Documentation
###############
/docs/build

# Editor backup files #
#######################
*~

# Unit test / coverage reports
##############################
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
/coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


# Node JS packages
##################
node_modules/
package-lock.json

pype/premiere/ppro/js/debug.log
