wheel
certifi
Click
clique==1.5.0
arrow
ffmpeg-python
coverage
OpenTimelineIO
pathlib2
pymongo
pytest
pytest-cov
pytest-print
Qt.py
pyqt5
speedcopy
ruamel.yaml
toml
tqdm
Pillow
log4mongo
cx_Freeze
jsonschema
