appdirs
arrow
certifi
Click
clique==1.5.0
coverage
cx_Freeze
ffmpeg-python
jsonschema
keyring
log4mongo
OpenTimelineIO
pathlib2
Pillow
pymongo
pytest
pytest-cov
pytest-print
pyqt5
Qt.py
speedcopy
Sphinx
sphinx-rtd-theme
sphinxcontrib-websupport
sphinx-qt-documentation
ruamel.yaml
recommonmark
toml
tqdm
wheel
