git+https://github.com/pypeclub/acre.git
aiohttp
aiohttp_json_rpc
appdirs
arrow
blessed
certifi
Click
clique==1.5.0
coverage
cx_Freeze
flake8
ftrack-python-api==2.0.0
ffmpeg-python
google-api-python-client
jsonschema
keyring
log4mongo
git+https://github.com/pypeclub/OpenTimelineIO.git@develop
pathlib2
Pillow
pyblish-base
pycodestyle
pydocstyle
pylint
pynput
pymongo
pytest
pytest-cov
pytest-print
pyqt5
Qt.py
scandir
speedcopy
six
Sphinx
sphinx-rtd-theme
sphinxcontrib-websupport
sphinx-qt-documentation
ruamel.yaml
recommonmark
toml
tqdm
wheel
wsrpc_aiohttp
