.badgesSection {
  margin-bottom: 5em;
}
.upperBadges,
.lowerBadges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upperBadges {
  margin-bottom: 17px;
}
.upperBadges a,
.lowerBadges a {
  margin-left: 2px;
  margin-right: 2px;
}
