* {
    color: rgb(200, 200, 200);
    background-color: rgb(23, 23, 23);
    font-size: 8pt;
}

QLabel {
    color: rgb(150, 150, 150);
}

QLineEdit {
    color: rgb(233, 233, 233);
    background-color: rgb(64, 64, 64);
    padding: 0.5em;
    border: 1px solid rgb(32, 32, 32);
}

QLineEdit[state="valid"] {
    background-color: rgb(19, 19, 19);
    color: rgb(64, 230, 132);
    border: 1px solid rgb(32, 64, 32);
}

QLineEdit[state="invalid"] {
    background-color: rgb(32, 19, 19);
    color: rgb(255, 69, 0);
    border: 1px solid rgb(64, 32, 32);
}

QLineEdit[state="warning"] {
    background-color: rgb(32, 32, 19);
    color: rgb(255, 190, 15);
    border: 1px solid rgb(64, 64, 32);
}

QScrollBar:vertical {
    border: 1px solid rgb(61, 115, 97);
    background: #000;
    width:5px;
    margin: 0px 0px 0px 0px;
}
QScrollBar::handle:vertical {
    background: rgb(72, 200, 150);
    min-height: 0px;
}
QScrollBar::sub-page:vertical {
    background: rgb(31, 62, 50);
}
QScrollBar::add-page:vertical {
    background: rgb(31, 62, 50);
}
QScrollBar::add-line:vertical {
    background: rgb(72, 200, 150);
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    background: rgb(72, 200, 150);
    height: 0 px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QProgressBar {
    font-family: "Arial";
    font-size: 7pt;
}

QProgressBar:horizontal {
    height: 5px;
    border: 1px solid rgb(31, 62, 50);
    color: rgb(72, 200, 150);
}
QProgressBar::chunk:horizontal {
    background-color: rgb(72, 200, 150);
}

QMenu {
    background-color: rgb(32, 32, 32);
}
QMenu::item {
    background-color: transparent;
}
QMenu::item:selected {
    background-color: rgba(72, 200, 150, 63);
}

#MainLabel {
    color: rgb(200, 200, 200);
}

#Console {
    background-color: rgb(32, 32, 32);
    color: rgb(72, 200, 150);
    font-family: "Roboto Mono";
    font-size: 0.5em;
    border: 1px solid rgb(48, 48, 48);
}

#ExitBtn {
    /* `border` must be set to background of flat button is painted .*/
    border: none;
    color: rgb(64, 64, 64);
    background-color: rgb(128, 128, 128);
    padding: 0.5em;
}

#ExitBtn:hover{
    background-color: rgb(185, 185, 185);
}

#ButtonWithOptions QPushButton{
    border: none;
    background-color: rgb(72, 200, 150);
    color: rgb(64, 64, 64);
    font-weight: bold;
    padding: 0.5em;
}
#ButtonWithOptions QPushButton:hover{
    background-color: #2f9d73;
}

#ButtonWithOptions QToolButton{
    border: none;
    background-color: rgb(72, 200, 150);
    color: rgb(64, 64, 64);
}
#ButtonWithOptions QToolButton:hover{
    background-color: #2f9d73;
}
