@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{

  --ifm-color-primary: #36b2ca;
  --ifm-color-primary-dark: #30a1b6;
  --ifm-color-primary-darker: #2d98ac;
  --ifm-color-primary-darkest: #257d8e;
  --ifm-color-primary-light: #4abacf;
  --ifm-color-primary-lighter: #54bed2;
  --ifm-color-primary-lightest: #73c9da;

  --ifm-color-info-lightest: rgba(170, 227, 246, 0.75);
  --ifm-color-success-lightest: rgba(204, 241, 204, 0.71);
  --ifm-color-warning-lightest: rgba(255, 221, 128, 0.55);
  --ifm-color-danger-lightest: rgba(251, 178, 181, 0.53);

  --ifm-navbar-background-color:#1f2329;

  --ifm-card-border-radius: calc(0.4rem);
  --ifm-global-shadow-lw: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  --ifm-font-family-base: "Poppins", sans-serif;
  --ifm-font-weight-light: 200;
  --ifm-font-weight-normal: 300;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 700;
  --ifm-font-size-base: 95%;

  --ifm-button-font-weight: var(--ifm-font-weight-semibold);

}

body {
  font-weight: var(--ifm-font-weight-normal);
}

h2 {
  margin-bottom: 2rem;
}

h5, h6 { font-weight: var(--ifm-font-weight-semibold); }


.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
  no-repeat;
}

html[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-pypeclub-link:hover {
  opacity: 0.6;
}

.header-pypeclub-link::before {
  content: '';
  width: 100px;
  height: 24px;
  display: flex;
  background: url("/img/logos/pypeclub_white.svg") no-repeat;
}


.admonition-note {
  --ra-admonition-color: var(--ra-color-text-dark);
}

.admonition {
  --ra-admonition-icon-color: var(--ifm-alert-border-color);
}

.alert {
  color: var(--ra-color-text-dark);
  border-style: unset;
  border-left: 8px solid var(--ifm-alert-border-color);
}

.alert a {
    color: unset;
    text-decoration: underline;
    font-weight: var(--ifm-font-weight-semibold);
}

.alert--primary {
      --ifm-alert-background-color: var(--ifm-color-primary-lightest);
      --ifm-alert-border-color: var(--ifm-color-primary);
    }
.alert--secondary {
      --ifm-alert-background-color: var(--ifm-color-secondary-light);
      --ifm-alert-border-color: var(--ifm-color-secondary-darkest);
      border-style: unset;
    }
.alert--success {
      --ifm-alert-background-color: var(--ifm-color-success-lightest);
      --ifm-alert-border-color: var(--ifm-color-success);
    }
.alert--info {
      --ifm-alert-background-color: var(--ifm-color-info-lightest);
      --ifm-alert-border-color: var(--ifm-color-info);
    }
.alert--warning {
      --ifm-alert-background-color: var(--ifm-color-warning-lightest);
      --ifm-alert-border-color: var(--ifm-color-warning);
    }
.alert--danger {
      --ifm-alert-background-color: var(--ifm-color-danger-lightest);
      --ifm-alert-border-color: var(--ifm-color-danger);
    }


.navbar--dark {
    --ifm-navbar-background-color: #161a20f5;
}

.navbar__brand:hover {
      text-decoration: none;
      color: var(--ifm-color-primary);
    }

.navbar__toggle {
      color: white;
  }

.navbar__title {
      margin-left: 10px;
  }

.footer__links {
    text-align: center;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.darkBackground {
    background: linear-gradient(135deg,
                rgba(135, 135, 135, .3) 60%,
                rgba(100, 100, 100, .3) 60.01%);
    background-position: 50% 0;
    position: relative;
    color: black
}

.lightBackground {
    background: linear-gradient(-135deg,
                #f5fffb 40%,
                white 40.01%);
    background-position: 50% 0;
    position: relative;
    color: black
}

.section {
    padding: 6rem 0;
}

.sectionDescription {
    text-align: center;
    font-weight: 500;
}


.showcase {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.showcase  a{
    color: black;
    text-decoration: none
}

.showcase .link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px
}

.showcase .client {
    display: flex;
    justify-content: space-between;
}

.showcase .client img {
    max-height: 110px;
    padding: 20px;
    max-width: 160px;
    align-self: center;
}

.showcase .link img {
    max-height: 80px;
    padding: 10px;
    width: 80px;
    align-self: center;
}

.showcase .link span {
    text-align: center;
}

.showcase .collab img {
    max-height: 120px;
    padding: 20px;
    align-self: center;
    max-width: 200px;
}

.showcase .pype_logo img{
    height: 80px;
}


.card {
  max-width: 230px;
  margin: 10px;
  font-size: 10pt
}

.card_medium {
  max-width: 180px;
}

.card_small {
  width: 130px;
}

.card a{
  color: var(--ifm-font-color-base);
}

.markdown img {
    border-radius: calc(0.4rem);
    box-shadow: var(--ifm-global-shadow-lw);
}

.markdown .row {
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
}

/* image with caption */
figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

figure>p {
    margin-bottom: 0px;
    background-color: var(--ifm-color-secondary);
}

figure>figcaption {
    background-color: var(--ifm-color-secondary);
    font-size: 1rem;
}

/* END caption */
