* {
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(
        rgb(27, 27, 27) 0%,
        rgb(14, 14, 14) 100%
    );
    font-family: Arial, sans-serif;
    font-size: 3vh;
    line-height: 3vh;
    overflow: hidden;
    color: rgb(200, 200, 200)
}
.logo_footer {
    position: absolute;
    height: 9vh;
    bottom: 0;
    padding-left: 9vh;
    padding-bottom: 9vh;
}
.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:
        "header sidebar"
        "info-container sidebar";
    grid-template-rows: 1% 99%;
    grid-template-columns: 75% 25%;
}
.info-container {
    grid-area: info-container;
    padding: 9vh;
    z-index: 1;
}
.title {
    font-size: 9vh;
    line-height: 9vh;
    padding-bottom: 4vh;
}
.subtitle {
    font-size: 5vh;
    line-height: 5vh;
    padding-bottom: 5vh;
}
.info-entry {
    display: table-row;
}
.info-desc {
    display: table-cell;
    padding-right: 1.5vh;
    color: rgb(100, 100, 100);
}
.info-text {
    display: table-cell;
    padding-bottom: 1.5vh;
    width: 100%;
}
.sidebar {
    grid-area: sidebar;
    background-color: rgb(0, 0, 0, 1);
    padding: 2.5vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "thumbs"
        "."
        "color-check";
    z-index: 1;
}
.header {
    grid-area: header;
    background-color: #FF0000;
    z-index: 1;
}
.color-check {
    grid-area: color-check;
    width: 100%;
    align-self: end;
}
.chroma-check {
    width: 100%;
    height: 3vh;
    background: linear-gradient(
        to right,
        rgb(255, 255, 255) 14%,
        rgb(255, 255, 0) 14% 29%,
        rgb(0, 255, 255) 29% 43%,
        rgb(0, 255, 0) 43% 57%,
        rgb(255, 0, 255) 57% 71%,
        rgb(255, 0, 0) 71% 86%,
        rgb(0, 0, 255) 86%
    );
    bottom: 0%;
}
.luma-check{
    width: 100%;
    height: 3vh;
    background: linear-gradient(
        to right,
        rgb(0,0,0) 7%,
        rgb(63,63,63) 7% 14%,
        rgb(95,95,95) 14% 21%,
        rgb(119,119,119) 21% 29%,
        rgb(140,140,140) 29% 36%,
        rgb(157,157,157) 36% 43%,
        rgb(173,173,173) 43% 50%,
        rgb(187,187,187) 50% 57%,
        rgb(200,200,200) 57% 64%,
        rgb(212,212,212) 64% 71%,
        rgb(224,224,224) 71% 79%,
        rgb(235,235,235) 79% 86%,
        rgb(245,245,245) 86% 93%,
        rgb(255,255,255) 93%
    );
    top: 0%;
}
.thumbs {
    grid-area: thumbs;
    width: 100%
}
.thumb {
    width: 100%;
    margin-bottom: 2.5vh;
}
