QWidget {
    color: #bfccd6;
    background-color: #293742;
    font-size: 12px;
    border-radius: 0px;
}

QCheckBox::indicator {
}
QCheckBox::indicator:focus {
    color: #ff0000;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QPlainTextEdit {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

QLineEdit:focus, QSpinBox:focus, QDoubleSpinBox:focus, QPlainTextEdit:focus {
    border: 1px solid #ffffff;
}

QLabel[state="modified"] {
    color: #137cbd;
}

QLabel[state="overriden-modified"] {
    color: #137cbd;
}

QLabel[state="overriden"] {
    color: #ff8c1a;
}

QWidget[input-state="modified"] {
    border-color: #137cbd;
}

QWidget[input-state="overriden-modified"] {
    border-color: #137cbd;
}

QWidget[input-state="overriden"] {
    border-color: #ff8c1a;
}

QPushButton {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 5px;
}
QPushButton[btn-type="text-list"] {
    border: 1px solid #bfccd6;
    border-radius: 10px;
}

QPushButton[btn-type="text-list"]:hover {
    border-color: #137cbd;
    color: #137cbd;
}

QPushButton[btn-type="expand-toggle"] {
    background: transparent;
    background: #1d272f;
}

#GroupWidget {
    border: 1px solid #aaaaaa;
}

#ProjectListWidget QListView {
    border: 1px solid #aaaaaa;
    background: #1d272f;
}
#ProjectListWidget QLabel {
    background: transparent;
    font-weight: bold;
}

#RawJsonInput[state="invalid"] {
    border-left-color: #ff5511;
}

#DictKey[state="modified"] {
    border-left-color: #137cbd;
}

#DictKey[state="overriden"] {
    border-left-color: #00f;
}
#DictKey[state="overriden-modified"] {
    border-left-color: #0f0;
}

#DictLabel {
    background: transparent;
    font-weight: bold;
}

#ExpandingWidget, #ModifiableDict, #DictWidget {
    border-style: solid;
    border-color: #455c6e;
    border-left-width: 3px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

#ExpandingWidget[state="child-modified"], #ModifiableDict[state="child-modified"], #DictWidget[state="child-modified"] {
    border-color: #137cbd;
}

#ExpandingWidget[state="child-overriden"], #ModifiableDict[state="child-overriden"], #DictWidget[state="child-overriden"] {
    border-color: #ff8c1a;
}

#ExpandingWidget[state="child-overriden-modified"], #ModifiableDict[state="child-overriden-modified"], #DictWidget[state="child-overriden-modified"] {
    border-color: #137cbd;
}

#TextListSubWidget {
    border-left: 3px solid #455c6e;
}
