QWidget {
    color: #bfccd6;
    background-color: #293742;
    font-size: 12px;
    border-radius: 0px;
}

QMenu {
    border: 1px solid #555555;
    background-color: #1d272f;
}

QMenu::item {
    padding: 5px 10px 5px 10px;
    border-left: 5px solid #313131;
}

QMenu::item:selected {
    border-left-color: #61839e;
    background-color: #222d37;
}

QCheckBox::indicator {
}
QCheckBox::indicator:focus {
    color: #ff0000;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QPlainTextEdit, QTextEdit {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    background-color: #1d272f;
}

QLineEdit:focus, QSpinBox:focus, QDoubleSpinBox:focus, QPlainTextEdit:focus, QTextEdit:focus {
    border: 1px solid #ffffff;
}
QLabel, QToolButton {
    background: transparent;
}

QLabel:hover {color: #ffffff;}

QLabel[state="modified"] {color: #137cbd;}
QLabel[state="modified"]:hover {color: #1798e8;}
QLabel[state="overriden-modified"] {color: #137cbd;}
QLabel[state="overriden-modified"]:hover {color: #1798e8;}
QLabel[state="overriden"] {color: #ff8c1a;}
QLabel[state="overriden"]:hover {color: #ffa64d;}

QWidget[input-state="modified"] {
    border-color: #137cbd;
}

QWidget[input-state="overriden-modified"] {
    border-color: #137cbd;
}

QWidget[input-state="overriden"] {
    border-color: #ff8c1a;
}

QPushButton {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 5px;
}
QPushButton[btn-type="text-list"] {
    border: 1px solid #bfccd6;
    border-radius: 10px;
}

QPushButton[btn-type="text-list"]:hover {
    border-color: #137cbd;
    color: #137cbd;
}

QPushButton[btn-type="expand-toggle"] {
    background: #1d272f;
}

#GroupWidget {
    border: 1px solid #aaaaaa;
}

#ProjectListWidget QListView {
    border: 1px solid #aaaaaa;
    background: #1d272f;
}
#ProjectListWidget QLabel {
    background: transparent;
    font-weight: bold;
}

#RawJsonInput[state="invalid"] {
    border-left-color: #ff5511;
}

#DictKey[state="modified"] {
    border-left-color: #137cbd;
}

#DictKey[state="overriden"] {
    border-left-color: #00f;
}
#DictKey[state="overriden-modified"] {
    border-left-color: #0f0;
}

#DictLabel {
    font-weight: bold;
}

#ExpandingWidget, #ModifiableDict, #DictWidget {
    border-style: solid;
    border-color: #455c6e;
    border-left-width: 3px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}
#ExpandingWidget:hover, #ModifiableDict:hover, #DictWidget:hover {
    border-color: #62839d;
}


#ExpandingWidget[state="child-modified"], #ModifiableDict[state="child-modified"], #DictWidget[state="child-modified"] {
    border-color: #106aa2;
}
#ExpandingWidget[state="child-modified"]:hover, #ModifiableDict[state="child-modified"]:hover, #DictWidget[state="child-modified"]:hover {
    border-color: #137cbd;
}

#ExpandingWidget[state="child-overriden"], #ModifiableDict[state="child-overriden"], #DictWidget[state="child-overriden"] {
    border-color: #e67300;
}
#ExpandingWidget[state="child-overriden"]:hover, #ModifiableDict[state="child-overriden"]:hover, #DictWidget[state="child-overriden"]:hover {
    border-color: #ff8c1a;
}

#ExpandingWidget[state="child-overriden-modified"], #ModifiableDict[state="child-overriden-modified"], #DictWidget[state="child-overriden-modified"] {
    border-color: #106aa2;
}
#ExpandingWidget[state="child-overriden-modified"]:hover, #ModifiableDict[state="child-overriden-modified"]:hover, #DictWidget[state="child-overriden-modified"]:hover {
    border-color: #137cbd;
}

QScrollBar:horizontal {
    height: 15px;
    margin: 3px 15px 3px 15px;
    border: 1px transparent #1d272f;
    border-radius: 4px;
    background-color: #1d272f;
}

QScrollBar::handle:horizontal {
    background-color: #61839e;
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/qss_icons/rc/right_arrow_disabled.png);
    width: 10px;
    height: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/qss_icons/rc/left_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on {
    border-image: url(:/qss_icons/rc/right_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
    border-image: url(:/qss_icons/rc/left_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background-color: #1d272f;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border: 1px transparent #1d272f;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background-color: #61839e;
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/qss_icons/rc/up_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/qss_icons/rc/down_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on {

    border-image: url(:/qss_icons/rc/up_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
    border-image: url(:/qss_icons/rc/down_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
