body {
  background-color: #323238;
  color: #eeeeee;
}

#output {
  background: #121212;
  color: #eeeeee;
  padding: 2em;
  font-family: monospace;
  font-weight: bold;
  min-height: 8em;
}

#output.error {
  background: #FF0000;
  color: #000000;
  padding: 2em;
  font-family: monospace;
  font-weight: bold;
  min-height: 8em
}

.dark > .list-group-item {
  background: #454747;
}
