QWidget {
  font-size: 13px;
}

QSpinBox {
  padding: 2;
  max-width: 8em;
}

QLineEdit {
  padding: 2;
  min-width: 15em;
}

QVBoxLayout {
  min-width: 15em;
  background-color: #201f1f;
}

QComboBox {
  min-width: 8em;
}

#sectionContent {
  background-color: #2E2D2D;
}