/* :root {
  --border-color-: #464b54;
}
 */


QWidget {
    color: #bfccd6;
    background-color: #282C34;
    font-size: 12px;
    border-radius: 0px;
}

QMenu {
    border: 1px solid #555555;
    background-color: #21252B;
}

QMenu::item {
    padding: 5px 10px 5px 10px;
    border-left: 5px solid #313131;
}

QMenu::item:selected {
    border-left-color: #61839e;
    background-color: #222d37;
}
QCheckBox {
    spacing: 0px;
}
QCheckBox::indicator {}
QCheckBox::indicator:focus {}

QLineEdit, QSpinBox, QDoubleSpinBox, QPlainTextEdit, QTextEdit {
    border: 1px solid #464b54;
    border-radius: 3px;
    background-color: #21252B;
}

QLineEdit:disabled, QSpinBox:disabled, QDoubleSpinBox:disabled, QPlainTextEdit:disabled, QTextEdit:disabled, QPushButton:disabled {
    background-color: #464b54;
}

QLineEdit:focus, QSpinBox:focus, QDoubleSpinBox:focus, QPlainTextEdit:focus, QTextEdit:focus {
    border: 1px solid #839caf;
}

QComboBox {
    border: 1px solid #464b54;
    border-radius: 3px;
    padding: 2px 2px 4px 4px;
    background: #21252B;
}

QComboBox QAbstractItemView::item {
    padding: 3px;
}

QToolButton {
    background: transparent;
}

QLabel {
    background: transparent;
    color: #969b9e;
}
QLabel:hover {color: #b8c1c5;}

QLabel[state="studio"] {color: #73C990;}
QLabel[state="studio"]:hover {color: #ffffff;}
QLabel[state="modified"] {color: #189aea;}
QLabel[state="modified"]:hover {color: #46b1f3;}
QLabel[state="overriden-modified"] {color: #189aea;}
QLabel[state="overriden-modified"]:hover {color: #46b1f3;}
QLabel[state="overriden"] {color: #ff8c1a;}
QLabel[state="overriden"]:hover {color: #ffa64d;}
QLabel[state="invalid"] {color: #ad2e2e;}
QLabel[state="invalid"]:hover {color: #ad2e2e;}


QWidget[input-state="studio"] {border-color: #858a94;}
QWidget[input-state="modified"] {border-color: #189aea;}
QWidget[input-state="overriden-modified"] {border-color: #189aea;}
QWidget[input-state="overriden"] {border-color: #ff8c1a;}
QWidget[input-state="invalid"] {border-color: #ad2e2e;}

QPushButton {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 5px;
}
QPushButton:hover {
    background-color: #333840;
    border: 1px solid #fff;
    color: #fff;
}
QPushButton[btn-type="tool-item"] {
    border: 1px solid #bfccd6;
    border-radius: 10px;
}

QPushButton[btn-type="tool-item"]:hover {
    border-color: #189aea;
    color: #46b1f3;
    background-color: transparent;
}

QPushButton[btn-type="tool-item-icon"] {
    border: 0px solid #bfccd6;
    background-color: transparent;
}

QPushButton[btn-type="expand-toggle"] {
    background: #21252B;
}

#GroupWidget {
    border-bottom: 1px solid #21252B;
}

#ProjectListWidget QListView {
    border: 1px solid #464b54;
    background: #21252B;
}
#ProjectListWidget QLabel {
    background: transparent;
    font-weight: bold;
}

#MultiSelectionComboBox {
    font-size: 12px;
}

#DictKey[state="studio"] {border-color: #464b54;}
#DictKey[state="modified"] {border-color: #189aea;}
#DictKey[state="overriden"] {border-color: #00f;}
#DictKey[state="overriden-modified"] {border-color: #0f0;}
#DictKey[state="invalid"] {border-color: #ad2e2e;}

#DictLabel {
    font-weight: bold;
}

#ContentWidget {
    background-color: transparent;
}
#ContentWidget[content_state="hightlighted"] {
    background-color: rgba(19, 26, 32, 15%);
}

#SideLineWidget {
    background-color: #333942;
    border-style: solid;
    border-color: #4e5254;
    border-left-width: 3px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

#SideLineWidget:hover {
    border-color: #7d8386;
}

#SideLineWidget[state="child-studio"] {border-color: #56a06f;}
#SideLineWidget[state="child-studio"]:hover {border-color: #73C990;}

#SideLineWidget[state="child-modified"] {border-color: #106aa2;}
#SideLineWidget[state="child-modified"]:hover {border-color: #189aea;}

#SideLineWidget[state="child-invalid"] {border-color: #ad2e2e;}
#SideLineWidget[state="child-invalid"]:hover {border-color: #c93636;}

#SideLineWidget[state="child-overriden"] {border-color: #e67300;}
#SideLineWidget[state="child-overriden"]:hover {border-color: #ff8c1a;}

#SideLineWidget[state="child-overriden-modified"] {border-color: #106aa2;}
#SideLineWidget[state="child-overriden-modified"]:hover {border-color: #189aea;}

#MainWidget {
    background: #141a1f;
}

#DictAsWidgetBody {
    background: transparent;
}
#DictAsWidgetBody[show_borders="1"] {
    border: 1px solid #4e5254;
    border-radius: 5px;
}

#SplitterItem {
    background-color: #21252B;
}

#ShadowWidget {
    font-size: 36pt;
}
QTabWidget::pane {
    border-top-style: none;
}

QTabBar {
   background: transparent;
}

QTabBar::tab {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px;
}

QTabBar::tab:selected {
    background: #282C34;
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB;
}

QTabBar::tab:!selected {
    margin-top: 2px;
    background: #21252B;
}

QTabBar::tab:!selected:hover {
    background: #333840;
}



QTabBar::tab:first:selected {
    margin-left: 0;
}

QTabBar::tab:last:selected {
    margin-right: 0;
}

QTabBar::tab:only-one {
    margin: 0;
}

QScrollBar:horizontal {
    height: 15px;
    margin: 3px 15px 3px 15px;
    border: 1px transparent #21252B;
    border-radius: 4px;
    background-color: #21252B;
}

QScrollBar::handle:horizontal {
    background-color: #4B5362;
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/qss_icons/rc/right_arrow_disabled.png);
    width: 10px;
    height: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/qss_icons/rc/left_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on {
    border-image: url(:/qss_icons/rc/right_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
    border-image: url(:/qss_icons/rc/left_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background-color: #21252B;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border: 1px transparent #21252B;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background-color: #4B5362;
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/qss_icons/rc/up_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/qss_icons/rc/down_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on {

    border-image: url(:/qss_icons/rc/up_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
    border-image: url(:/qss_icons/rc/down_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QTableView
{
    border: 1px solid #444;
    gridline-color: #6c6c6c;
    background-color: #201F1F;
    alternate-background-color:#21252B;
}

QHeaderView
{
    border: 1px transparent;
    border-radius: 2px;
    margin: 0px;
    padding: 0px;
}

QHeaderView::section  {
    background-color: #21252B;
    /*color: silver;*/
    padding: 4px;
    border: 1px solid #6c6c6c;
    border-radius: 0px;
    text-align: center;
    color: #969b9e;
    font-weight: bold;
}

QTableView::item:pressed, QListView::item:pressed, QTreeView::item:pressed  {
    background: #78879b;
    color: #FFFFFF;
}

QTableView::item:selected:active, QTreeView::item:selected:active, QListView::item:selected:active  {
    background: #3d8ec9;
}